

nav #main-nav-bar li#link-to-cart{
    background:none;
}

a {
    font-style: italic;
}

#header{
    
    background-image:url('toptitle.png');
    background-repeat:no-repeat;
    background-position:200px 10px;    
}
nav #main-nav-bar {
    margin-top:0px;
}

#main-nav-bar {
    padding-top:0px;
    margin-top:10px;
    margin-left:0px;
    z-index:100;
}

#logo{
    padding-top:20px;
    padding-left:0px;
    padding-right:20px;
    width:auto;
    z-index:1000;
}
